
.vs/Becher-Gare/FileContentIndex/25c79fa1-4eeb-4627-985a-598da0055c9f.vsidx
.vs/Becher-Gare/FileContentIndex/b59e4b81-bd93-486b-bbea-86444314f849.vsidx
.vs/Becher-Gare/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
