:root {
    --light: #ffffff;

    --grey: #333f46;
    --grey2: #415058;

    --lightgrey: #7f8f99;
    --lightgrey2: #9dacb5;

    --dark: #1c2226;

    --c1: #6d2e3d;
    --c1a: #9f3c53;
    --c1b: #eb4f73;
    
    --c2: #ffe189;

    --width: clamp(10rem, 86vw, 142rem);
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    cursor: default;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
    position: relative;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: unset;
    display: block;
    width: 100%;
    /* white-space: nowrap; */
}

img {
    user-select: none;
    max-width: 100%;
    object-fit: contain;
    max-height: inherit;
    width: 100%;
}

.mobile_hidden {
    display: none;
}

::selection {
    color: var(--light);
    background-color: var(--grey);
}

/* ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
} */

/* Track */
::-webkit-scrollbar-track {
    background: var(--light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark);
}

main {
    position: relative;
}

hr {
    margin: unset;
}

button {
    background-color: transparent;
    outline-color: transparent;
    border: unset;
    padding: unset;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
    white-space: nowrap;
    text-align: inherit;
    cursor: pointer;
}

button:focus-visible {
    outline: 0.1rem solid transparent;
}

.flex {
    display: flex;
}

.icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.width {
    width: var(--width);
}















@media (min-width:1920px) {
    html {
        font-size: 11px;
    }
}

@media (min-width:2440px) {
    html {
        font-size: 13px;
    }
}

@media (min-width:3000px) {
    html {
        font-size: 16px;
    }
}

@media (min-width:4000px) {
    html {
        font-size: 22px;
    }
}