main>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    /* height: clamp(9rem, calc(9vw + 10vh), 14rem); */
    background-color: var(--dark);
    background-image: url(../assets/textures/dark-paper.jpg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 2;
    color: white;
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    height: clamp(10rem, 30vw, 12rem);
    backdrop-filter: blur(0.5rem);
    will-change: transform;
}

header nav {
    position: absolute;
    top: 100%;
    width: fit-content;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 0;
    width: clamp(10rem, 60vw, 30rem);
    font-size: clamp(1rem, 4vw, 1.7rem);
    letter-spacing: 0.1rem;
    transition: transform 0.4s ease, opacity 0.1s ease, visibility 0.1s ease;
    transform: translateY(-7rem);
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    border-radius: 0.6rem;
    max-width: 40rem;
    text-align: center;
}

header nav>div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

header nav .divider {
    display: none;
}

header nav.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(-6rem);
}

header nav hr,
footer nav hr {
    width: 2rem;
    border: unset;
    border-top: 0.1rem solid #556a76;
    margin: 1rem 0;
}

.hambt.close {}

.hambt.close div:nth-child(1) {
    transform: translateY(400%) rotate(45deg) scale(0.8);
}

.hambt.close div:nth-child(2) {
    transform: rotate(-45deg) scale(0.8);
}

.hambt.close div:nth-child(3) {
    opacity: 0;
    transform: translateY(-220%) scale(0.8);
}


header .logo {
    position: relative;
    width: 100%;
    max-width: 60rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

header .tel {
    font-weight: 500;
    position: absolute;
    bottom: 0;
    transform: translateY(160%);
    font-size: clamp(1rem, 3vw, 1.2rem);
    letter-spacing: clamp(0.1em, 0.6vw, 0.2em);
    width: fit-content;
    margin: 0 auto;
    left: 0;
    right: 0;
    line-height: 1;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    z-index: 4;
    border-radius: 0.2rem;
}

header nav a,
header nav button {
    transition: color 0.3s ease;
    cursor: pointer;
}

header nav a:hover,
header nav button:hover {
    transition: color 0s ease;
    color: white;
}

.award {
    background-color: #ffdb00;
    position: absolute;
    padding: clamp(0.5rem, 1vw, 0.8rem);
    left: -4%;
    bottom: 0;
    border-radius: 0.4rem;
    display: flex;
    z-index: 4;
    transform: translateY(calc(100% + 1.2rem));
    border: 0.1rem solid var(--dark);
    box-shadow: 0 0.1rem 0 0.1rem var(--dark);
    width: fit-content;
}

.award img {
    width: clamp(2.5rem, 10vw, 5rem);
}

.modal {
    position: absolute;
    right: 0;
    left: 0;
    top: clamp(1rem, calc(16vh + 16vw), 17rem);
    margin: 0 auto;
    width: clamp(10rem, 86vw, 42rem);
    height: fit-content;
    background-color: white;
    color: var(--grey);
    bottom: 0;
    border-radius: 0.6rem;
    /* transform: translateY(-50%); */
    display: flex;
    flex-direction: column;
    z-index: 3;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.4s ease;
    opacity: 0;
    visibility: hidden;
    padding: 3rem 3rem 3rem;
    box-sizing: border-box;
    transform: translateY(-1rem);
    max-height: 70vh;
    box-shadow: 0 1rem 5rem -2rem var(--grey);
    border: 0.2rem solid var(--c1a);
    background-image: url(../assets/textures/white-paper.jpg);
}

.modal::before {
    content: '';
    position: absolute;
    top: 0;
    width: 1.6rem;
    height: 1.6rem;
    background-color: inherit;
    left: 0;
    right: 0;
    margin-inline: auto;
    transform: translateY(-48%) rotate(45deg);
    background-image: url(../assets/textures/white-paper.jpg);
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
}

.modal .close {
    position: absolute;
    right: 0;
    top: 0;
    width: clamp(3rem, 10vw, 3.5rem);
    height: clamp(3rem, 10vw, 3.5rem);
    /* background-color: var(--lightgrey); */
    /* border-radius: 1.2rem 0 0.4rem 0; */
    background-image: url(../assets/icons/close.svg);
    background-size: 1.2rem;
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    overflow-y: auto;
}

.modal form p {
    flex: 1;
}

.modal form input,
.modal form textarea {
    padding: 1rem;
    border-radius: 0.2rem;
    min-height: 2rem;
    box-sizing: border-box;
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    border: unset;
    font-size: 1.5rem;
    background-color: #EEE;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border: 0.1rem solid var(--light);
}

.modal form input {}

.modal form textarea {
    min-height: 10rem;
    height: 15rem;
    max-height: 25rem;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.modal form label {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.modal form button {
    display: block;
    text-align: center;
    padding: 0.7rem 2rem;
    margin: 0rem auto 0;
    font-size: clamp(1.8rem, 4.7vw, 1.8rem);
    font-weight: 800;
    letter-spacing: 0.4rem;
    width: 100%;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
    border: 0.1rem solid rgb(255 255 255 / 15%);
    border-bottom: 0.4rem solid var(--c1);
    border-radius: 0.2rem;
    background-color: var(--c1a);
}

.book.modal {
    font-size: clamp(1.3rem, 3.5vw, 1.4rem);
}

.book.modal a {
    margin-top: 3rem;
}

.book.modal a,
.direct_contact_bts a {
    color: var(--c1a);
    text-align: center;
    padding: 1rem 0;
    border-radius: 0.2rem;
    width: 100%;
    font-weight: 700;
    background-color: var(--light);
}

.book.modal h3 {
    font-size: clamp(1.3rem, 6.6vw, 2rem);
    color: var(--grey2);
    position: relative;
    padding-bottom: 0.6rem;
    margin: 1.5rem 0 0.4rem;
}

.book.modal h3::before {
    content: '';
    background-color: var(--c1a);
    position: absolute;
    left: -0.5rem;
    bottom: 0;
    height: 0.2rem;
    width: 3rem;
}

.book.modal p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0.5rem 0 0.2rem;
    line-height: 1.5;
    letter-spacing: 0;
    /* max-width: 33rem; */
    /* margin-inline: auto; */
    padding-left: 0.5rem;
}

.opening_hours p .obs {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    transform: translateY(90%);
    letter-spacing: 0.05rem;
    font-style: italic;
}

.contact.modal.show,
.book.modal.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.direct_contact_bts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.direct_contact_bts a {}

header .icon.tel::before {
    content: '';
    position: relative;
    background-image: url(../assets/icons/tel.svg);
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0.1rem 0.1rem var(--grey));
}

header .logo img {
    width: clamp(10rem, 50vw, 20rem);
    display: block;
    margin-inline: auto;
    z-index: 2;
}

header .logo .ctnr {
    width: 100%;
}

.circle_ctnr {
    position: absolute;
    top: 0;
    height: 100%;
    width: clamp(25rem, 69vw, 34rem);
    overflow: hidden;
    pointer-events: none;
}

header .circle {
    background-image: url(../assets/word-circle.svg);
    position: absolute;
    width: clamp(25rem, 69vw, 34rem);
    height: clamp(25rem, 69vw, 34rem);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* filter: drop-shadow(0 0.2rem 0 var(--grey)); */
    transform: translateY(calc(-10%)) rotate(0deg);
    transition: transform 0.6s cubic-bezier(0, 0, 0.2, 1);
    will-change: transform;
}

@keyframes rotate {
    0% {
        transform: translateY(calc(-10%)) rotate(0deg);
    }

    100% {
        transform: translateY(calc(-10%)) rotate(360deg);
    }
}

header .width {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 100%;
}

header .social {
    position: absolute;
    right: -4%;
    bottom: 0;
    display: flex;
    gap: clamp(0.6rem, 1vw, 1rem);
    justify-content: center;
    /* height: 60%; */
    align-items: center;
    transform: translateY(calc(100% + 1.2rem));
    z-index: 4;
}

header .social .icon {
    width: clamp(2rem, 5.8vw, 2.7rem);
    height: clamp(2rem, 5.8vw, 2.7rem);
    background-color: var(--light);
    border-radius: 0.3rem;
    background-size: 60%;
    border: 0.1rem solid #ffffff33;
}

.icon.instagram.dark {
    background-image: url(../assets/icons/instagram-dark.svg);
}

.icon.instagram.light {
    background-image: url(../assets/icons/instagram-light.svg);
}

.icon.facebook.dark {
    background-image: url(../assets/icons/facebook-dark.svg);
}

.icon.facebook.light {
    background-image: url(../assets/icons/facebook-light.svg);
}

.hambt {
    width: clamp(3rem, calc(2vw + 2vh), 4.6rem);
    height: calc(clamp(3rem, calc(2vw + 2vh), 4.6rem) * 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.5rem;
}

.hambt div {
    background-color: var(--light);
    height: 12%;
    width: 100%;
    transition: opacity 0.15s ease-out, transform 0.15s ease-out;
}



section.intro {
    height: clamp(50rem, calc(55vh + 65vw + 9rem), 77rem);
    background-color: #141110;
    color: var(--light);
    font-weight: 400;
    background-position: 60% center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-top: clamp(9rem, calc(15vw + 20vh), 28rem); */
    /* padding-bottom: clamp(3rem, calc(15vw + 7vh), 15rem); */
    min-height: 80vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: var(--dark);
    background-image: url(../assets/textures/dark-paper.jpg);
}

.intro .video_ctnr {
    position: absolute;
    height: 100%;
}

.intro .video_ctnr video {
    object-position: 23% 0;
}

.intro .content {
    width: clamp(10rem, 84vw, 105rem);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;
    top: 2vh;
}

.cta {
    transition: filter 0.15s ease;
    font-size: clamp(1.2rem, 3.5vw, 1.6rem);
    font-weight: 500;
    /* letter-spacing: 0.1rem; */
    border-radius: 0.2rem;
    text-align: center;
    padding: clamp(1rem, 1vw, 1.2rem) clamp(2rem, 2vw, 3rem) clamp(1rem, 1vw, 1.3rem);
    box-shadow: 0 0.1rem;
    border: 0.1rem solid;
    width: fit-content;
}

.cta:hover {
    filter: brightness(1.2);
}

h1 {
    display: block;
    text-align: center;
    font-size: clamp(2rem, calc(0.7vh + 1.4vw + 1.2rem), 3.6rem);
    font-weight: 400;
    letter-spacing: 0.03em;
    text-shadow: 0.2rem 0.2rem #0e0a0c5c;
    line-height: 1.3;
}

h1 b {
    font-weight: 600;
}

.intro address {
    text-align: center;
    font-size: clamp(1.1rem, 3.3vw, 1.4rem);
    letter-spacing: 0.2rem;
    font-weight: 500;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0.2rem 0.2rem #0e0a0c5c;
}

.intro .fold {
    margin-inline: auto;
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    bottom: -8rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .fold::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border-right: 0.2rem solid var(--c2);
    border-bottom: 0.2rem solid var(--c2);
    transform: rotate(45deg);
}

address .icon {
    background-image: url(../assets/icons/location.svg);
    width: 1.2rem;
    height: clamp(1.3rem, 3vw, 1.6rem);
}

.cta_ctnr {
    display: flex;
    justify-content: center;
    gap: clamp(2rem, 3vw, 2.5rem);
    align-items: center;
    flex-direction: row;
}

.intro .cta_ctnr .menu {
    background-color: rgb(159 60 83 / 85%);
    color: white;
    /* border: 0.1rem solid var(--light); */
    /* background-image: linear-gradient(0deg, #fff3, transparent 45%); */
    background-image: url(../assets/textures/wine-paper.jpg);
}

.cta_ctnr .book {
    background-color: rgb(28 34 38 / 85%);
    color: var(--light);
    /* border: 0.1rem solid var(--grey2); */
    /* background-image: linear-gradient(0deg, #fffa, transparent 45%); */
    cursor: pointer;
    background-image: url(../assets/textures/dark-paper.jpg);
}

header,
.intro,
.meet_frederic,
.our_menu,
.the_road_trip,
.luxembourg,
footer,
.modal,
.modal::before,
.private_hire {
    background-size: cover;
    background-position: center;
}










section.meet_frederic {
    padding: clamp(3rem, 7vw, 8rem) 0 clamp(3rem, 26vw, 10rem);
    background-color: var(--light);
    scroll-margin-top: 10rem;
    background-image: url(../assets/textures/white-paper.jpg);
}

.meet_frederic .width {
    position: relative;
}

.meet_frederic .width,
.our_menu .width {
    width: var(--width);
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    align-items: center;
    z-index: 1;
}

.meet_frederic .content {
    font-weight: 600;
    font-size: clamp(1.15rem, 3.8vw, 1.65rem);
    /* max-width: 45rem; */
    color: var(--grey);
    max-height: 30rem;
    overflow: hidden;
    mask-image: linear-gradient(180deg, black 70%, transparent 91%);
    -webkit-mask-image: linear-gradient(180deg, black 70%, transparent 91%);
    transition: max-height 0.4s ease;
}

.meet_frederic .content,
.our_menu .content,
.the_road_trip .content,
.luxembourg .content {
    /* color: var(--grey); */
    font-family: 'Montserrat', sans-serif;
    line-height: 1.45;
}

.meet_frederic .composition {
    width: clamp(10rem, 100%, 50rem);
    max-height: 80vh;
    max-width: 80vw;
    flex: 1;
}

.meet_frederic h2 {
    color: var(--grey2);
}

.meet_frederic h2,
.our_menu h2 {
    font-size: clamp(2rem, calc(1.8vw + 1.8vh + 0.6rem), 3.3rem);
    font-weight: 500;
    margin-bottom: clamp(1rem, 3.8vw, 1.8rem);
    line-height: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    column-gap: 1rem;
    max-width: 40rem;
}

.meet_frederic h2 span {
    color: var(--c1a);
}

.meet_frederic h2 span,
.our_menu h2 span {
    font-weight: 700;
    font-size: 1.8em;
}

.meet_frederic p,
.our_menu p,
.the_road_trip p,
.luxembourg p {
    margin-bottom: 0.9rem;
}

.meet_frederic b,
.meet_frederic strong {
    color: var(--c1a);
}

.meet_frederic .expand {
    display: block;
    position: absolute;
    bottom: 0;
    font-weight: 600;
    color: var(--grey);
    border-radius: 0.2rem;
    width: fit-content;
    font-size: clamp(1.2rem, 3.8vw, 1.7rem);
    padding: 0.4rem 0.9rem 0.4rem 2.3rem;
    box-shadow: 0 0.6rem 1rem -1rem;
}

.meet_frederic .expand::before {
    content: '';
    position: absolute;
    left: 0.9rem;
    top: 50%;
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    background-image: url(../assets/icons/plus.svg);
    transform: translateY(-50%);
}














section.our_menu {
    background-color: var(--c1);
    background-image: url(../assets/textures/wine-paper.jpg);
    color: white;
    padding: clamp(3rem, 9vw, 9rem) 0 6rem;
}

.our_menu h2 {
    color: var(--light);
}

.our_menu h2 span {}

.our_menu .composition {
    width: clamp(10rem, 100%, 100rem);
    max-height: 90vh;
    max-width: 97vh;
    margin-top: calc(clamp(4rem, 20vw, 21rem) * -1);
}

.our_menu .video_composition {
    width: clamp(10rem, 100%, 100rem);
    max-height: 90vh;
    max-width: 88rem;
    margin-top: calc(clamp(4rem, 20vw, 21rem) * -1);
    position: relative;
    filter: drop-shadow(-1.2rem 1.2rem 0 #00000010);
    height: clamp(26rem, 70vw, 64rem);
    margin-inline: auto;
}

.our_menu .video_composition video {
    position: absolute;
    width: clamp(10rem, 42%, 34rem);
    border-radius: 0.2rem;
    background-color: #7f8f9980;
}

.our_menu .video_composition video:nth-of-type(1) {
    left: 0;
    top: clamp(3rem, 8vw, 9rem);
    z-index: 3;
}

.our_menu .video_composition video:nth-of-type(2) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    z-index: 2;
}

.our_menu .video_composition video:nth-of-type(3) {
    right: 0;
    top: clamp(6rem, 14vw, 15rem);
    z-index: 1;
}

.our_menu .video_composition picture {
    position: absolute;
    width: clamp(5rem, 40%, 28rem);
    left: clamp(3rem, 6vw, 11rem);
    top: clamp(8rem, 16vw, 23rem);
    z-index: 4;
}

.our_menu p {}

.our_menu a {
    margin-top: 2.5rem;
    border-bottom: 0.2rem solid white;
    color: white;
    background-image: url(../assets/textures/wine-paper.jpg);
}

.our_menu .content {
    font-size: clamp(1.15rem, 4vw, 1.8rem);
    color: var(--light);
    font-weight: 300;
}

.our_menu b,
.our_menu strong {
    font-weight: 500;
    /* color: #CDD; */
}








section.private_hire {
    padding: clamp(9rem, 7vw, 16rem) 0;
    background-image: url(../assets/textures/white-paper.jpg);
    text-align: center;
    color: var(--grey);
    outline: 0.2rem solid var(--light);
    outline-offset: calc(clamp(1rem, 3vw, 2.3rem) * -1);
}

.private_hire .width {
    width: clamp(10rem, 80vw, 126rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.private_hire h2 {
    font-size: clamp(2rem, calc(2vw + 2vh + 0.6rem), 3.3rem);
    font-weight: 700;
}

.private_hire p {
    font-size: clamp(1.15rem, 3.8vw, 1.9rem);
    font-weight: 600;
    line-height: 1.65;
}

.private_hire p b,
.private_hire p strong {
    font-weight: 700;
}

.private_hire .cta {
    font-weight: 700;
    border-width: 0.2rem;
    box-shadow: 0 0.2rem;
}









section.terrace {
    height: clamp(50rem, 230vw, 100rem);
    background-image: url(../assets/photos/terrace.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    color: var(--light);
}

.terrace .width {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.terrace .content {
    background-color: var(--light);
    background-image: url(../assets/textures/white-paper.jpg);
    color: var(--grey);
    padding: clamp(2rem, 7.5vw, 4rem);
    border-radius: 0.3rem;
    width: clamp(10rem, 66vw, 43rem);
    /* height: 40vh; */
    position: sticky;
    top: clamp(10rem, 30vw, 12rem);
    bottom: calc(clamp(10rem, 30vw, 12rem) * 0.6);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: calc(clamp(10rem, 30vw, 12rem) * 0.6) 0;
    box-shadow: 0rem 2rem 3rem -3rem var(--dark);
}

.terrace {
    justify-content: unset;
}

.terrace h2 {
    font-size: clamp(2rem, calc(2vw + 2vh + 0.6rem), 3.3rem);
    color: inherit;
    position:relative;
    padding-bottom: 1rem;
}.terrace h2::before {
    content: '';
    background-color: var(--c1a);
    position: absolute;
    left: -1rem;
    bottom: 0;
    height: 0.3rem;
    width: 5rem;
}

.terrace .content p {
    font-weight: 600;
    line-height: 1.5;
    font-size: clamp(1.3rem, 3.5vw, 1.7rem);
}

.terrace .cta_ctnr {
    justify-content: unset;
    gap: 1.5rem;
    margin-top: clamp(0.5rem, 2vw, 1.2rem);
}

.terrace .cta_ctnr .menu {
    color: var(--c1a);
    font-weight: 700;
}

.terrace .cta_ctnr .contact_bt {
    font-weight: 700;
    background-color: var(--dark);
    background-image: url(../assets/textures/wine-paper.jpg);
    color: var(--light);
    font-weight: 400;
}












.composition {
    filter: drop-shadow(-1.2rem 1.2rem 0.1rem #00000010);
    position: relative;
    z-index: 1;
}

section.the_road_trip {
    background-color: var(--dark);
    background-image: url(../assets/textures/dark-paper.jpg);
    /* min-height: 100rem; */
    justify-content: unset;
    color: var(--light);
    position: relative;
    padding-bottom: 11rem;
    scroll-margin-top: 7rem;
}

.the_road_trip .video_ctnr {
    height: clamp(10rem, 150vw, 45rem);
    /* overflow: hidden; */
    background-color: var(--grey);
    position: relative;
    width: 100%;
}

.the_road_trip video {
    object-position: 50% 80%;
}

.video_ctnr video {
    /* opacity: 0.8; */
    height: 100%;
    width: 100vw;
    object-fit: cover;
    background-color: #51594e;
    /* opacity: 0.6; */
}

.the_road_trip h2 {
    position: absolute;
    top: 50%;
    bottom: 0;
    width: var(--width);
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: clamp(4rem, 7vw, 7rem);
    color: var(--light);
    /* mix-blend-mode: luminosity; */
    font-weight: 700;
    text-align: center;
    transform: translateY(-50%);
    line-height: 1;
    height: fit-content;
}

.the_road_trip .width {
    gap: 3rem;
}

.the_road_trip .width,
.luxembourg .width {
    width: var(--width);
    display: flex;
    flex-flow: row wrap;
}

.the_road_trip .composition,
.meet_frederic .composition {
    margin-top: calc(clamp(10rem, calc(24vh + 12vw - 14rem), 16rem) * -1);
    z-index: 1;
}

.the_road_trip .content {
    font-size: clamp(1.15rem, 4vw, 1.8rem);
    font-weight: 200;
}

.the_road_trip b,
.the_road_trip strong {
    font-weight: 400;
}

.the_road_trip .cta_ctnr {
    margin-top: 2rem;
}

.the_road_trip .cta {
    width: fit-content;
    color: var(--light);
    letter-spacing: 0.1em;
    cursor: pointer;
}

.the_road_trip .tel {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}














section.luxembourg {
    background-color: white;
    justify-content: unset;
    padding: 0 0 clamp(4rem, 5vw, 9rem);
    background-image: url(../assets/textures/white-paper.jpg);
}

.luxembourg .showoff {
    width: 100%;
    overflow-x: auto;
    display: flex;
    border-radius: clamp(2rem, 6vw, 3.5rem);
    margin: calc(clamp(3rem, 5vw, 5rem) * -1) 0 0;
    max-width: 75rem;
    gap: 3rem;
    scroll-snap-type: x mandatory;
    z-index: 1;
}

.luxembourg .showoff div {
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 90vw;
    max-height: 70vh;
    border-radius: clamp(2rem, 6vw, 3.5rem);
    scroll-snap-align: center;
}

.luxembourg .showoff div:nth-child(1) {
    background-image: url(../assets/photos/outdoor/01.jpg);
}

.luxembourg .showoff div:nth-child(2) {
    background-image: url(../assets/photos/outdoor/02.jpg);
}

.luxembourg .showoff div:nth-child(3) {
    background-image: url(../assets/photos/outdoor/03.jpg);
}

.luxembourg h2 {
    font-size: clamp(3rem, calc(3.5vw + 2.6vh + 1rem), 6rem);
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1;
    color: var(--c1a);
}

.luxembourg .content {
    font-size: clamp(1.15rem, 4vw, 1.8rem);
    font-weight: 500;
}

.luxembourg .content p {}

.luxembourg b,
.luxembourg strong {
    font-weight: 600;
    color: var(--c1a);
}

.luxembourg .width {
    gap: clamp(1rem, 6vw, 9rem);
}













footer {
    width: 100%;
    min-height: clamp(3rem, 20vw, 10rem);
    background-color: var(--dark);
    color: var(--light);
    padding: 6rem 2rem 12rem;
    box-sizing: border-box;
    background-image: url(../assets/textures/dark-paper.jpg);
}

footer>.ctnr {
    width: clamp(10rem, 86vw, 150rem);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 8rem;
    margin-inline: auto;
    justify-content: space-between;
}

footer .logo {
    width: clamp(10rem, 50vw, 20rem);
    margin-bottom: 1rem;
}

footer .logo_nav {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

footer .icon {
    background-position: left;
    display: flex;
    align-items: center;
}

footer .icon::before {
    content: '';
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: 1rem;
    /* background-color: white; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

footer .tel.icon::before {
    background-image: url(../assets/icons/tel.svg);
}

footer .opening_hours {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 300;
    gap: 0.6rem;
}

.opening_hours p {
    display: flex;
    justify-content: space-between;
    /* max-width: 35rem; */
    align-items: end;
    gap: 1rem;
    position: relative;
}

.opening_hours p span:last-child {
    text-align: right;
}

.opening_hours .divider {
    flex: 1;
    height: 0.1rem;
    background-color: #6662;
    margin-bottom: 0.3rem;
    min-width: 1rem;
}

footer .opening_hours h2 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--c2);
    letter-spacing: 0.1rem;
}

footer .opening_hours h3 {
    font-weight: 600;
    margin: 1.3rem 0 0;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    color: var(--lightgrey);
}

footer nav {
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    text-align: center;
    align-items: center;
}


.lang {
    position: fixed;
    top: 0.6rem;
    left: 0.5rem;
    width: 1.9rem;
    height: 1.9rem;
    background-color: var(--grey2);
    z-index: 2;
    color: var(--light);
    padding: 0.2rem;
    text-align: center;
    border: 0.1rem solid var(--lightgrey);
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
}

.lang:hover {
    border-color: white;
}

.lang .current {}

.lang a {}


























































@media screen and (min-width:900px) {
    header {}

    .hambt {
        display: none;
    }


    header nav {
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        flex-flow: row;
        width: unset;
        top: unset;
        padding: unset;
        left: 0;
        transform: unset;
        justify-content: center;
        gap: 2vw;
        color: var(--lightgrey2);
        height: 60%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: unset;
    }

    header nav>div {
        flex-flow: row wrap;
        position: absolute;
        column-gap: 4rem;
        row-gap: 1rem;
    }

    header nav>div:first-of-type {
        right: calc(50% + calc(clamp(25rem, 69vw, 34rem) / 1.5));
        justify-content: right;
    }

    header nav>div:last-of-type {
        left: calc(50% + calc(clamp(25rem, 69vw, 34rem) / 1.5));
        justify-content: left;
    }

    header nav a,
    header nav button {
        /* width: clamp(10rem, 16vw, 20rem); */
        min-width: 4vw;
        width: unset;
    }

    header .width {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    header .social {
        flex-direction: revert;
        /* transform: unset; */
        right: 0;
        transform: translateY(50%);
    }

    .award {
        left: 0;
        transform: translateY(50%);
    }

    header nav .divider {
        display: initial;
        width: clamp(25rem, 69vw, 34rem);
        margin-inline: 1vw;
    }

    header nav hr {
        display: none;
    }

    header .logo {}

    header .icon.tel {
        transition: transform 0.3s ease, background-color 0.3s ease;
        transform: translateY(-250%);
        color: var(--lightgrey);
        z-index: 5;
        font-weight: 600;
        padding: 0.6rem;
        line-height: 1.1;
    }

    header .icon.tel:hover {
        color: var(--light);
        background-color: var(--dark);
    }

    .icon.tel.down {
        transform: translateY(160%);
        background-color: var(--dark);
    }

    .contact_ctnr {
        width: unset;
    }

    header .logo img {
        box-shadow: 0 0 2rem 1rem var(--dark);
        background-color: var(--dark);
    }

    .intro .video_ctnr video {
        object-position: top;
    }

    .intro address {
        flex-direction: row;
    }

    .meet_frederic .content {
        width: clamp(50rem, calc(50vw - 10rem), 70rem);
        margin-right: 5rem;
        max-height: unset;
        overflow: unset;
        -webkit-mask-image: unset;
    }

    .meet_frederic .expand {
        display: none;
    }

    .our_menu .content {
        width: clamp(50rem, calc(50vw - 10rem), 62rem);
        margin-right: 2rem;
        /* max-width: 52rem; */
    }

    .the_road_trip .content {
        margin-top: 9rem;
    }

    .meet_frederic .content,
    .our_menu .content,
    .the_road_trip .content,
    .luxembourg .content {
        min-width: 40rem;
        margin-bottom: 3rem;
        flex: 1;
    }

    .meet_frederic .composition {
        width: clamp(35rem, 38vw, 50rem);
        margin-top: unset;
        margin-bottom: 0;
    }

    .meet_frederic .composition img {
        object-position: right;
    }

    .meet_frederic .width,
    .luxembourg .width {
        flex-flow: row wrap;
        align-items: flex-start;
    }

    .meet_frederic .width,
    .our_menu .width,
    .the_road_trip .width {
        justify-content: space-between;
        gap: clamp(2rem, 5vw, 7rem);
        align-items: flex-start;
    }

    .our_menu .width,
    .the_road_trip .width {
        flex-flow: row-reverse wrap;
        justify-content: space-between;
    }

    section.our_menu {
        padding-bottom: 9rem;
    }

    .our_menu .composition {
        width: clamp(10rem, 40vw, 100rem);
        flex: 1;
    }

    .terrace .width {
        justify-content: flex-start;
    }

    .the_road_trip .composition {
        width: clamp(10rem, 45vw, 78rem);
        flex: 1;
    }

    .the_road_trip .video_ctnr {
        max-height: 62vh;
    }

    .luxembourg .showoff {
        overflow: unset;
        gap: 2rem;
        flex: 1;
        width: clamp(50rem, 40vw, 70rem);
        min-width: 50rem;
        scroll-snap-type: unset;
    }

    .luxembourg .showoff div {
        min-width: unset;
        flex: 1;
        height: 60rem;
        scroll-snap-align: unset;
    }

    .luxembourg .content {
        margin-top: 8rem;
        max-width: 52rem;
    }



    .contact_modal {
        top: 38vh;
    }



    footer>.ctnr {
        flex-direction: row;
    }

    footer nav {
        text-align: right;
        align-items: end;
    }

}